- var domain = host
doctype html
html
  head
    title #{title} - icongram
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='icon', type='image/png', href=`${domain}/favicon.png`, sizes='32x32')
    link(rel='stylesheet', href='https://unpkg.com/chota')
    link(rel='stylesheet', href='/main.css')
    link(rel='canonical', href=`${domain}`)
    meta(property='og:url', content=`${domain}`)
    meta(property='og:type', content='website')
    meta(property='og:title', content='icongram: icons on the fly')
    meta(property='og:image', content=`${domain}/icongram-banner.png`)
    meta(property='og:description', content="icongram serves you icons from your favourite icon library on the fly.")
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@geekGogari')
    meta(name='twitter:creator', content='@geekGogari')
    meta(name='twitter:title', content='icongram: icons on the fly')
    meta(name='twitter:image', content=`${domain}/icongram-banner.png`)
    meta(name='twitter:description', content="icongram serves you icons from your favourite icon library on the fly..")
    meta(name='theme-color', content='#00d1b2')

  body
    block content
    block foot
      #footer
        .container.is-text-center
          p Currently looking for a hosting sponsor! Get in touch icongram[at]jgog.in
          p
            small All icon libraries are under their respective licenses. All brand icons are trademarks of their respective owners.
          p
            a(href="https://github.com/jenil/icongram/issues", target="_blank") Report an issue
            |  &bull; icongram &copy; 2017 &bull; Made by 
            a(href="//jgog.in", target="_blank") Jenil Gogari
    <script>
    |  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    |  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    |  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    |  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    | ga('create', 'UA-91125324-4', 'auto');ga('send', 'pageview');
    </script>
